.header {
  width: 100%;
  height: 100vh;
  background-image: url("./background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right -6px;
}

.container {
  padding: 16px 10px 0;
  height: 100%;
  margin: 0 auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* prettier-ignore */
.decoration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

.subtitle {
  color: #ff5876;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.title {
  color: #25282b;
  font-family: Playball;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.description {
  max-width: 490px;
  color: var(--text);
  font-size: 24px;
  line-height: 28px;
  padding: 32px 0;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.link {
  border-radius: 8px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  transition: transform 0.2s cubic-bezier(0.57, 0.31, 0.49, 0.98);
  &:hover {
    transform: scale(1.05);
  }
}

.primaryLink {
  color: var(--light);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

.secondaryLink {
  border: 2px solid #25282b;
  color: #25282b;
  background-color: var(--light);
}

@media screen and (min-width: 1000px) {
  .header {
    height: 706px;
    background-size: auto;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url("./background_2.svg");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: bottom right -4px;
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }

  /* prettier-ignore */
  .decoration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: auto;
  background-image: 
    url("./html.svg"), 
    url("./figma.svg"), 
    url("./css.svg"), 
    url("./nodejs.svg"), 
    url("./photo.png"),
    url("./js.svg"), 
    url("./github.svg"), 
    url("./mongo.svg"),
    url("./mui.svg"), 
    url("./react.svg"), 
    url("./sass.svg");
  background-repeat: no-repeat;
  background-size: 
    45px, 
    45px, 
    45px, 
    45px, 
    auto, 
    45px, 
    45px, 
    45px, 
    45px, 
    45px,
    45px;
  background-position: 
    bottom 125px right 340px, 
    bottom 60px right 70px,
    bottom 260px right 300px, 
    bottom 240px right 60px, 
    bottom 10px right, 
    bottom 300px right 420px,
    bottom 320px right 10px, 
    bottom 350px right 360px, 
    bottom 475px right 100px,
    bottom 450px right 470px, 
    bottom 570px right 340px;
}
}
